In [29]:
import pandas as pd
import numpy as np
from sklearn.neighbors import *
from sklearn.model_selection import *
from sklearn.preprocessing import *
from sklearn.metrics import *
from sklearn.compose import *
import matplotlib.pyplot as plt

In [30]:
df = pd.read_csv(r"/home/sarthakredasani/Documents/CDAC_ML/Datasets/Datasets/Exp_Salaries.csv")
df.head(5)

,Salary,Years_Previous_Experience,Years Employed,Years_Education,Gender,Department,Number_Supervised
0,32782,1,0,7,Male,A,0
1,32920,3,15,9,Female,A,4
2,29548,6,5,1,Male,A,0
3,39828,6,18,5,Female,A,5
4,31528,11,3,3,Male,A,6

In [31]:
X, y = df.drop('Salary', axis =1), df['Salary']
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=25)

In [32]:
ohe = OneHotEncoder(sparse_output=False, drop='first').set_output(transform='pandas')
ct = make_column_transformer((ohe, make_column_selector(dtype_include=object)),
                             ('passthrough', make_column_selector(dtype_exclude=object)), 
                             verbose_feature_names_out=False)
ct = ct.set_output(transform='pandas')

In [33]:
X_trn_ohe = ct.fit_transform(X_train)
X_tst_ohe = ct.transform(X_test)

In [34]:
X_trn_ohe

,Gender_Male,Department_B,Department_C,Department_D,Years_Previous_Experience,Years Employed,Years_Education,Number_Supervised
42,1.0,0.0,0.0,1.0,4,6,4,2
27,0.0,0.0,0.0,1.0,5,12,8,0
10,0.0,1.0,0.0,0.0,6,3,6,3
0,1.0,0.0,0.0,0.0,1,0,7,0
33,0.0,0.0,0.0,1.0,6,6,4,2
39,1.0,0.0,0.0,1.0,3,22,10,45
18,0.0,0.0,1.0,0.0,0,0,0,2
30,1.0,0.0,0.0,1.0,1,5,0,2
12,0.0,1.0,0.0,0.0,0,2,3,5
44,1.0,0.0,0.0,1.0,4,9,6,4
9,0.0,0.0,0.0,0.0,2,6,0,1
43,0.0,0.0,0.0,1.0,6,9,5,1
16,1.0,1.0,0.0,0.0,1,6,4,2
22,0.0,0.0,1.0,0.0,3,20,6,4
35,1.0,0.0,0.0,1.0,5,6,2,3
32,0.0,0.0,0.0,1.0,3,9,6,1
13,1.0,1.0,0.0,0.0,9,6,4,2
20,1.0,0.0,1.0,0.0,9,19,4,6
34,1.0,0.0,0.0,1.0,2,25,12,1
24,0.0,0.0,1.0,0.0,6,7,5,6
3,0.0,0.0,0.0,0.0,6,18,5,5
1,0.0,0.0,0.0,0.0,3,15,9,4
5,1.0,0.0,0.0,0.0,7,18,9,5
31,1.0,0.0,0.0,1.0,2,6,6,3
25,0.0,0.0,0.0,1.0,0,27,12,44
45,0.0,0.0,0.0,1.0,3,1,2,0
28,0.0,0.0,0.0,1.0,5,7,4,1
8,0.0,0.0,0.0,0.0,1,0,4,4
23,1.0,0.0,1.0,0.0,5,15,6,4
15,0.0,1.0,0.0,0.0,6,0,2,2
26,1.0,0.0,0.0,1.0,3,20,4,1
4,1.0,0.0,0.0,0.0,11,3,3,6

In [35]:
ks = np.arange(1,11)
scores = []
for i in ks:
    knn = KNeighborsRegressor(n_neighbors=i)
    knn.fit(X_trn_ohe, y_train)
    y_pred = knn.predict(X_tst_ohe)
    scores.append([i , r2_score(y_test, y_pred)])
df_scores = pd.DataFrame(scores, columns=['k', 'score'])
df_scores.sort_values('score', ascending=False).iloc[0]

k        5.00000
score    0.62552
Name: 4, dtype: float64

In [36]:
# Standard Scaling

In [47]:
ohe = OneHotEncoder(sparse_output=False, drop='first').set_output(transform='pandas')
scaler = StandardScaler().set_output(transform='pandas')
ct = make_column_transformer((ohe, make_column_selector(dtype_include=object)), 
                             (scaler,make_column_selector(dtype_exclude=object)),
                              verbose_feature_names_out=False)
ct = ct.set_output(transform='pandas')

In [48]:
X_trn_ohe = ct.fit_transform(X_train)
X_tst_ohe = ct.transform(X_test)

In [49]:
Ks = np.arange(1,11)
scores = []
for i in Ks:
    knn = KNeighborsRegressor(n_neighbors=i)
    knn.fit(X_trn_ohe, y_train)
    y_pred = knn.predict(X_tst_ohe)
    scores.append([i, r2_score(y_test, y_pred)])
df_scores = pd.DataFrame(scores, columns=['K', 'score'])
df_scores.sort_values('score', ascending=False).iloc[0]

K        9.00000
score    0.34633
Name: 8, dtype: float64

In [43]:
# Min Max Scaler

In [44]:
ohe = OneHotEncoder(sparse_output=False, drop='first').set_output(transform='pandas')
scaler = MinMaxScaler().set_output(transform='pandas')
ct = make_column_transformer((ohe, make_column_selector(dtype_include=object)), 
                             (scaler,make_column_selector(dtype_exclude=object)),
                              verbose_feature_names_out=False)
ct = ct.set_output(transform='pandas')

In [45]:
X_trn_ohe = ct.fit_transform(X_train)
X_tst_ohe = ct.transform(X_test)

In [46]:
Ks = np.arange(1,11)
scores = []
for i in Ks:
    knn = KNeighborsRegressor(n_neighbors=i)
    knn.fit(X_trn_ohe, y_train)
    y_pred = knn.predict(X_tst_ohe)
    scores.append([i, r2_score(y_test, y_pred)])
df_scores = pd.DataFrame(scores, columns=['K', 'score'])
df_scores.sort_values('score', ascending=False).iloc[0]

K        3.000000
score    0.337773
Name: 2, dtype: float64